extends ../layout

block content
    include ../parts/header
    .container.pt-70
        h2.text-center Words in your dictionary
        .row.pt-35
            .col-12
                if (dictionary)
                    include ../parts/table


block append script