extends ../layout

block content
    .container
        .row.full-height.flex-column.align-items-center.justify-content-center
            .col-10.col-md-6.col-lg-5.text-center
                h1 Log in
            .col-10.col-md-6.col-lg-5
                form(action="/users/login" method='POST')
                    .form-group
                        input.form-control(type='email' placeholder='Enter your email' name='email' value='warvlad822@gmail.com' required)
                    .form-group
                        input.form-control(type='password' placeholder='Enter your password' name='password' value='12345678' minlength='6' required)
                    .form-group.d-flex.align-items-center.justify-content-between
                        button.btn.btn-primary Log in
                        a(href='/users/signup') Sign up
