extends ../layout

block content
    include ../parts/header
    .container.pt-70
        .row.justify-content-center
            .col-10.col-md-6.col-lg-5
                form(action="")
                    .form-group
                        input.form-control(type='text' placeholder='Enter a new word' name='new_word' required)
                    .form-group
                        input.form-control(type='text' placeholder='Enter translate(s) the word' name='new_word_tr' required)
                    .form-group
                        button.btn.btn-success Add word
        if (a)        
            .row.pt-35
                .col-12
                    h2 Three last words
                    -var dictionary = a
                    include ../parts/table

block append script
    script(src="/js/new_word.js")