extends ../layout

block content
    include ../parts/header
    .container.pt-70
        .row.justify-content-center
            .col-10.col-md-6.col-lg-5
                form(action="")
                    .form-group
                        input.form-control(type='text' placeholder='Enter a new word' name='new_word' required)
                    .form-group
                        input.form-control(type='text' placeholder='Enter translate(s) the word' name='new_word_tr' required)
                    .form-group
                        button.btn.btn-success Add word
        if (arr)        
            .row.pt-35
                .col-12
                    h2 Three last words                
                    table.table.table-hover
                        thead
                            tr
                                th #
                                th Word
                                th Translate
                                th Handle                            
                        tbody
                            each word,ind in arr
                                tr(data-id=word.id) 
                                    th=ind + 1
                                    th(data-edit='edit' data-prop='word')=word.word
                                    th(data-edit='edit' data-prop='translates')=word.translates
                                    th 
                                        .t-w.js-tw
                                            .t-w__action.fas.fa-pencil-alt(data-action='edit' data-state='show' data-on='completeEdit')
                                            .t-w__action.far.fa-check-circle(data-action='ok' data-on='edit' data-state='hidden')
                                            .t-w__action.fas.fa-times(data-action='cancel' data-on='edit' data-state='hidden')
                                            .t-w__action.fas.fa-trash(data-action='delete')

block append script
    script(src="/js/new_word.js")