extends ../layout

block content
    .container
        .row.full-height.flex-column.align-items-center.justify-content-center
            .col-md-4.text-center
                h1 Sign up
            .col-md-4
                form
                    .form-group
                        input.form-control(type='text' placeholder='Enter your name' name='name' required)
                    .form-group
                        input.form-control(type='email' placeholder='Enter your email' name='email' required)
                    .form-group
                        input.form-control(type='password' placeholder='Enter your password' name='password' minlength='6' required)
                    .form-group
                        button.btn.btn-primary Sign up

block append script
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="/js/signup.js")